.container1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px;
    width:18rem;
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.section1 h2{
    font-size: 2rem;
    color: black;
    font-weight: 600;
}
.accordionBtn{
    width:17rem;
    padding:10px;
}