.container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
}

.section1 {
  padding: 10px 20px;
  width: 100vw;
  height: 10rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: #e3ddca;
  color: white;
}
.section1 h2 {
  font-size: 3.3rem;
}
.section2 {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  margin-top: 20px;
}
.section2 .leftSection {
  width: 20vw;
}
.section2 .rightSection {
  margin-left: 5%;
  width: 80vw;
}

.profileBtn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid black;
}
.profileBtn img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
