.navbar {
  max-width: 1200px;
  margin: auto;
  background-color: #ffffff;
}
.navLogo {
  font-size: 28px !important;
  font-weight: bold !important;
  color: #437bea !important;
  padding: 10px;
}
.navLogoImg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
