.container1{
    display:flex;
    flex-direction: row;
    flex-wrap: auto;
}
.section1{
    margin-top: 0px;
    display: flex;
    padding:0px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.logo{
    width:5rem;
    height:5rem;
    border-radius: 100%;
}
.detailBtn{
    float:right;
}

.chatBtn{
    float: left;
    width: 100px;
}