.container1 {
  display: flex;
  max-width: 1200px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap !important;
}
.section1 {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  min-height: 300px;
}
.logo {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.detailBtn {
  float: right;
}

.chatBtn {
  float: left;
  width: 100px;
}

.mentorCard {
  width: 300px;
  height: 450px;
}
.investorName {
  margin: 10px !important;
  font-size: 24px;
  font-weight: bold;
}
